.container {
  height: auto;
  width: 100%;
  min-height: 400px;
  border-bottom: 1px solid black;
  display: flex;

  .skillsWrapper {
    height: 100%;
    width: 20%;
  }

  .skills {
    font-size: 40px;
    min-height: 868px;
    writing-mode: vertical-rl;
    text-orientation: upright;
  }

  .main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 400px;
  }
}

.topped {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 400px;
  width: 100%;

  .eachSkills {
    font-size: 40px;
    margin-right: 60px;
  }

  .hope {
    height: 400px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      display: flex;
      flex-direction: row;
      align-items: center;

      font-size: 23px;
      font-weight: bold;
      list-style-type: none;
      padding: 20px 5px;

      img {
        height: 60px;
        width: 60px;
      }
    }

    @media screen and (max-width: 570px) {
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: -10px;
        font-size: 15px;
      }

      img {
        height: 40px;
        width: 40px;
      }
    }
  }
}
