@import "../../variable";

.main {
  display: flex;
  flex-direction: row;
  min-height: 600px;
}

.topped {
  width: 50%;
  background-color: #f7484e;
}

.desiredSkills {
  width: 50%;
}

.eachSkills {
  font-size: $font-size;
  color: black;
}

.hope {
  height: 400px;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  flex-direction: row;
}

ul {
  padding: 0;
}

li {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
  font-size: $font-size2;
  font-weight: bold;
  list-style-type: none;
  padding: 20px 5px;

  img {
    height: 90px;
    width: 90px;
  }
}

@media screen and (max-width: 965px) {
  .main {
    display: inline;
    min-height: 600px;
  }

  .topped {
    width: 100%;
    min-height: 700px;
  }

  .desiredSkills {
    border: 2px solid black;
    width: 100%;
  }

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -10px;
    font-size: 15px;
  }

  img {
    height: 40px;
    width: 40px;
  }

  .skillsWrapper {
    display: none;
  }
}
