.topContainer {
  height: auto;
  width: 100%;
  min-height: 400px;
  border: 2px solid black;
  display: flex;
}

.first {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 400px;
  width: 100%;
  border: 2px solid black;

  .wannaHave {
    width: 100%;
    font-size: 40px;
    background-color: blue;
  }

  .list {
    height: 400px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    background-color: darkcyan;
    ul {
      margin: 0;
      padding: 0;
    }

    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 25px;
      list-style-type: none;
      padding: 20px 5px;
      margin-top: 20px;

      .image {
        height: 75px;
        width: 75px;
      }
    }
    @media screen and (max-width: 501px) {
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: -10px;
      }
    }
  }
}
