.information {
  text-align: center;
  height: auto;
  min-height: 380px;
  border-bottom: 1px solid black;

  .get {
    text-align: center;
    font-size: 40px;
    padding-top: 100px;
  }

  .HR {
    display: flex;
    justify-content: center;
  }

  hr {
    margin: 10px;
    border-top: 1px solid #27303660;
    width: 300px;
  }

  .link {
    font-size: 30px;
    margin: 20px;
    display: inline-block;
    a {
      font-size: 30px;
    }

    img {
      height: 70px;
      width: 70px;
    }
    .image {
      height: 80px;
      width: 80px;
    }
  }
}
