@import "../../../variable";

.topContainer {
  height: auto;
  width: 100%;
  min-height: 400px;
  display: flex;
}

.first {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 400px;
  width: 100%;

  .wannaHave {
    font-size: $font-size;
    margin-top: 200px;
    margin-bottom: 50px;
  }

  .list {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: $font-size2;
      list-style-type: none;
      padding: 20px 5px;
      margin-top: 20px;

      .image {
        height: 90px;
        width: 90px;
      }
    }
    @media screen and (max-width: 501px) {
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: -10px;
        font-size: 15px;
      }
    }
  }
}
