@import "../../variable";

.row {
  height: auto;
  min-height: 400px;
  display: flex;
  background-color: $background-color;
}

.projectWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
  min-height: 400px;
  text-align: center;
}

.allProjects {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 100px;
}

.headerWrapper {
  float: right;
}

.header {
  height: 100%;
  font-size: $font-size;
  writing-mode: vertical-rl;
  text-orientation: upright;
  float: right;
  background-color: $font-color;
}

@media screen and (max-width: 1175px) {
  .allProjects {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 680px) {
  .allProjects {
    display: grid;
    grid-template-columns: 1fr;
  }

  .headerWrapper {
    display: none;
  }
}

@media screen and (max-width: 1025px) {
  // .allProjects {
  //   grid-gap: 10px;
  // }

  .headerWrapper {
    display: none;
  }
}
