@import "../../variable";

.row {
  height: auto;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  background-color: $background-color;
}

.projectWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 50px;
  min-height: 400px;
  text-align: center;
  padding-bottom: 50px;
}

.allProjects {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 100px;
}

.headerWrapper {
  text-align: center;
}

.header {
  margin-top: 60px;
  font-size: $font-size;
  background-color: $font-color;
}

@media screen and (max-width: 1175px) {
  .allProjects {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 680px) {
  .allProjects {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }

  .header {
    height: 100%;
    font-size: $font-size;
    background-color: $font-color;
  }
}

@media screen and (max-width: 1025px) {
  .row {
    height: auto;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    background-color: $background-color;
  }
}
