@import "../../variable";

html {
  scroll-behavior: smooth;
}
.typical {
  color: #f7484e;
}
.top {
  display: flex;
  justify-content: center;
  height: auto;
  min-height: 400px;
  width: 100%;
  text-align: center;
  background-color: $primary-color;

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .head {
      margin-top: 30px;
      font-size: $font-size;
      color: black;
    }
    .junior {
      font-size: 40px;
      color: black;
      text-align: center;
      align-items: center;
    }

    p {
      font-size: 20px;
      text-align: center;
    }
  }
}
